:root { 
	--color-base: rgb(12,18,83);
    --color-vert: rgb(113,227,175);
    --color-orange: rgb(242,239,175);
    --color-rouge: rgb(185,25,87);
}

body {
    margin: 0;
}

.feux path {
    fill: var(--color-base) !important;
}

#feu-vert.active path   {    fill: var(--color-vert)!important; }
#feu-rouge.active  path {    fill: var(--color-rouge)!important;    }
#feu-orange.active path {    fill: var(--color-orange)!important; animation: 0.4s infinite clignotement; }

@keyframes clignotement {
    0% {
        opacity: 1;
      }
    70% {
        opacity: 1;
    }
    100% {
        opacity: 0;
      }
}

section {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .container {
    width: 500px;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 40px;
}

.picto {
    width: 150px;
    height: 150px;
    fill: white;
    background-color: var(--color-base);
    border-radius: 60px;
    padding: 10px;
    transition: transform 0.2s ease, 
                fill 0.4s ease;
}

.picto:hover {
    cursor: pointer;
    transform: scale(1.05);
}

.picto.active {
    fill: var(--color-vert);
}

#background {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
}
